<div id="container">
<adress>Address: Gala No. 22, Shyam Nagar, Veera Desai Road, Andheri West, Mumbai - 400058, 400053
Phone:022 2676 4317</contact>

<p> 

   <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?q=GRE+ELECTRONICS+PVT.+LTD.,+Mehsana,+Gujarat&amp;hl=en&amp;sll=23.584696,72.356837&amp;sspn=0.01115,0.021136&amp;oq=gre+e&amp;gl=in&amp;hq=GRE+ELECTRONICS+PVT.+LTD.,&amp;hnear=Mehsana,+Gujarat&amp;t=m&amp;ie=UTF8&amp;source=embed&amp;ll=23.582385,72.357029&amp;spn=0.00527,0.010568&amp;z=14&amp;iwloc=A&amp;cid=18168279160655172913&amp;output=embed"></iframe><br />View Larger Map</a></p>
   <div style="width: 600px"><iframe width="600" height="300" src="http://regiohelden.de/google-maps/map_en.php?width=600&amp;height=300&amp;hl=en&amp;q=Libin%20Electricals%2C%20andheri%20west+(Libin%20Electicals)&amp;ie=UTF8&amp;t=&amp;z=19&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.regiohelden.de/google-maps/">Google Maps Generator</a> von <a href="http://www.regiohelden.de/">RegioHelden</a></iframe><br /><span style="font-size: 9px;"><a href="http://www.regiohelden.de/google-maps/" style="font-size: 9px;">Google Maps Generator</a> by <a href="http://www.regiohelden.de/" style="font-size: 9px;">RegioHelden</a></span></div>
   



</div>